<<<<<<< Updated upstream
=======
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

>>>>>>> Stashed changes
#cabecalho {
    border: 1px solid red;
    padding-bottom: 200px;
    margin-bottom: 1.5em;
}

.entrevistas {
    width: 10em;
    height: 28.15em;
    margin-left: 16em;
    margin: 5px;
    float: left;
    padding-left: 40px;
    background-image: url(../Imagens/fundo-caixa.png);
}

#meio {
    border: 1px solid red;
    width: 16em;
    height: 20em;
    margin: 5px;
    margin-left: 20px;
    float: left;
}

#corpo {
    border: 1px solid red;
    width: 50em;
    height: 100em;
    margin: auto;
}

.entrevistas1 {
    border: 1px solid rgb(0, 255, 179);
    width: 12.5em;
    height: 28em;
    margin-top: 30em;
    text-align: left;
    margin-left: 5px;
}

.meio2 {
    border: 1px solid red;
    width: 16em;
    height: 20em;
    margin-top: -36em;
    text-align: left;
    margin-left: 14.5em;
}

.meio3 {
    border: 1px solid red;
    width: 16em;
    height: 20em;
    margin-top: -20em;
    text-align: left;
    margin-left: 32.3em;
}

a.titulos {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 0px;
    padding-left: 30px;
    margin-left: -30px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    background: rgb(225, 0, 57);
    color: #fff;
    line-height: 0;

}

a.link_meio {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}

a.entrevistas1 {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: -30px;
    margin-top: 10px;
    display: block;
}

a.news {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}

#conteudo_meio {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 235px;
}

#lista_1>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#lista_1>ul a {
    border-bottom: 1px dashed salmon;
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: -30px;
    display: block;
    text-indent: 19px;
    padding: 13.4px;
    background-color: rgb(0, 107, 168);
    text-decoration: none;
    color: #fff;
    background-image: url(../Imagens/lab_icon.png) no-repeat left;
}

#lista_2>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#lista_2>ul a {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    display: block;
    text-indent: 5px;
    padding: 13.4px;
}

#navegação_vertical>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navegação_vertical>ul a {
    width: 95px;
    height: 40px;
    display: block;
    text-decoration: none;
    line-height: 40px;
    float: left;
<<<<<<< Updated upstream
    border: 1px solid red;
    margin-top: 6.5em;
=======
    margin-top: 8em;
    color: #fff;
    background: rgb(170, 0, 39)
}

#navegação_vertical>ul a:hover {
    background: rgb(225, 0, 57);
    color: #ffa1a1
}

#navegação_vertical>ul a#espaço4 {
    text-indent: 28px;
    width: 98px;
}

#navegação_vertical>ul a#espaço5 {
    text-indent: 29.5px;
    width: 140px;
}

#navegação_vertical>ul a#espaço6 {
    text-indent: 26.5px;
    width: 120px;
>>>>>>> Stashed changes
}

#espaço {
    margin-top: 12px;
}

#espaço2 {
    margin-left: 13.3em;

<<<<<<< Updated upstream
}
=======
#espaço3 {
    margin-left: 12.3em;
}


#divisor {
    height: 1em;
    margin-bottom: -3px;
    margin-left: 66.5px;
}

#divisor2 {
    margin-left: 66.5px;
    height: 1em;
    margin-bottom: -3px;
}

#divisor3 {
    margin-left: 93px;
    height: 1em;
    margin-bottom: -3px;
}

#divisor4 {
    margin-left: 110.8px;
    height: 1em;
    margin-bottom: -3px;
}

#divisor5 {
    margin-left: 59.5px;
    height: 1em;
    margin-bottom: -3px;
}

#divisor6 {
    margin-left: 64.5px;
    height: 1em;
    margin-bottom: -3px;
}

#icon {
    margin-left: -65.9px;
    margin-top: -3px;
    height: 1em;
    margin-bottom: -3.5px;
    height: 18.5px;

}

#icon1 {
    margin-left: -70px;
    margin-top: -7px;
    height: 1.5em;
    margin-bottom: -4.5px;
    height: 20px;
}

#icon2 {
    margin-left: -122.5px;
    margin-top: -7px;
    margin-bottom: -3.3px;
    height: 16px;
}

#icon3 {
    margin-left: -95px;
    margin-top: -6px;
    margin-bottom: -2.2px;
    height: 15px;
}

#icon4 {
    margin-left: -72.5px;
    margin-top: -10px;
    margin-bottom: -7.8px;
    height: 23.5px;
}

#icon5 {
    margin-left: -87.8px;
    margin-top: -10px;
    margin-bottom: -7.8px;
    height: 27px;
}

#icon6 {
    margin-left: -99px;
    margin-top: -10px;
    margin-bottom: -146px;
    height: 27px;
}

#img_1 {
    margin-left: 55.8em;
    margin-bottom: -1em;
    z-index: 1;
    position: absolute;
}

#img_2 {
    z-index: 2;
    position: absolute;
    margin-left: 12.5em;
    margin-top: 1.5em;
}

#entrevistas_icon {
    margin-left: -25px;
    margin-top: -28.5px;
    height: 0px;
    width: 22.5px;
    margin-bottom: -3.5px;
    height: 18.5px;
    position: absolute;
}

#user_icon{
    height: 25px;
    width: 49px;
    position: absolute;
    margin-left: -144.5px;
    margin-top: -2.5px;
    margin-bottom: -3.5px;
}

#user_icon1{
    height: 25px;
    width: 49px;
    position: absolute;
    margin-left: -132.5px;
    margin-top: -2.5px;
    margin-bottom: -3.5px;
}

#user_icon2{
    height: 25px;
    width: 49px;
    position: absolute;
    margin-left: -173.9px;
    margin-top: -2.5px;
    margin-bottom: -3.5px;
}

#user_icon3{
    height: 25px;
    width: 49px;
    position: absolute;
    margin-left: -176.5px;
    margin-top: -2.5px;
    margin-bottom: -3.5px;
}

#user_icon4{
    height: 25px;
    width: 49px;
    position: absolute;
    margin-left: -140.5px;
    margin-top: -2.5px;
    margin-bottom: -3.5px;
}

#user_icon5{
    height: 25px;
    width: 49px;
    position: absolute;
    margin-left: -129.5px;
    margin-top: -2.5px;
    margin-bottom: -3.5px;
}

#user_icon6{
    height: 25px;
    width: 49px;
    position: absolute;
    margin-left: -160.5px;
    margin-top: -2.5px;
    margin-bottom: -3.5px;
}
>>>>>>> Stashed changes
