
#cabecalho {
    padding-bottom: 200px;
    margin-bottom: 1.5em;
    background: rgb(41, 76, 113) url(../Imagens/fundo-removebg-preview.png) repeat-x bottom;
    height: 3em;
}

.entrevistas {
    border: 1px solid red;
    width: 10em;
    height: 28em;
    margin-left: 16em;
    margin: 5px;
    float: left;
    padding-left: 40px;

}

#meio {
    border: 1px solid red;
    width: 16em;
    height: 20em;
    margin: 5px;
    margin-left: 20px;
    float: left;
}

#corpo {
    border: 1px solid red;
    width: 50em;
    height: 100em;
    margin: auto;
}

.entrevistas1 {
    border: 1px solid red;
    width: 12.5em;
    height: 28em;
    margin-top: 30em;
    text-align: left;
    margin-left: 5px;
}

.meio2 {
    border: 1px solid red;
    width: 16em;
    height: 20em;
    margin-top: -36em;
    text-align: left;
    margin-left: 14.5em;
}

.meio3 {
    border: 1px solid red;
    width: 16em;
    height: 20em;
    margin-top: -20em;
    text-align: left;
    margin-left: 32.3em;
}

a.titulos {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: -30px;
    margin-top: 10px;
    display: block;
}

a.link_meio {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}

a.entrevistas1 {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: -30px;
    margin-top: 10px;
    display: block;
}

a.news {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}

#conteudo_meio {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 235px;
}

#lista_1>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#lista_1>ul a {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    margin-left: -30px;
    display: block;
    text-indent: 5px;
    padding: 13.4px;
}

#lista_2>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#lista_2>ul a {
    border: 1px solid rgb(255, 0, 0);
    margin: 0 10px;
    padding: 10px;
    padding-left: 30px;
    display: block;
    text-indent: 5px;
    padding: 13.4px;
}

#navegação_vertical>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
}

#navegação_vertical>ul a {
    width: 95px;
    height: 40px;
    display: block;
    text-decoration: none;
    text-indent: 10px;
    line-height: 40px;
    float: left;
    margin-top: 8em;
    color: #fff;
    background: rgb(170, 0, 39)
}

#navegação_vertical>ul a:hover {
    background: rgb(225, 0, 57);
    color: rgb(151, 0, 41);
}

#navegação_vertical>ul a#espaço4 {
    text-indent: 28px;
    width: 98px;
}

#navegação_vertical>ul a#espaço5 {
    text-indent: 25px;
    width: 140px;
}

#navegação_vertical>ul a#espaço6 {
    text-indent: 25px;
    width: 120px;
}

#espaço {
    margin-top: 12px;
}

#espaço2 {
    margin-left: 13.3em;
    line-height: 10px;
}

#espaço3 {
    margin-left: 12em;
}


#divisor {
    height: 1em;
    margin-bottom: -3px;
    margin-left: 63.8px;
}

#divisor2 {
    margin-left: 67px;
    height: 1em;
    margin-bottom: -3px;
}

#divisor3 {
    margin-left: 95px;
    height: 1em;
    margin-bottom: -3px;
}

#divisor4 {
    margin-left: 112.2px;
    height: 1em;
    margin-bottom: -3px;
}

#divisor5 {
    margin-left: 61px;
    height: 1em;
    margin-bottom: -3px;
}

#divisor6 {
    margin-left: 65.91px;
    height: 1em;
    margin-bottom: -3px;
}

#icon {
    margin-left: -63px;
    margin-top: -5px;
    height: 1em;
    margin-bottom: -2px;
    height: 18px;

}

#icon1 {
    margin-left: -70px;
    margin-top: -7px;
    height: 1.5em;
    margin-bottom: -4.5px;
    height: 20px;
}

#icon2 {
    margin-left: -108px;
    margin-top: -7px;
    margin-bottom: -3.3px;
    height: 16px;
}

#icon3 {
    margin-left: -90px;
    margin-top: -7px;
    margin-bottom: -3.3px;
    height: 15px;
}

#icon4 {
    margin-left: -68px;
    margin-top: -10px;
    margin-bottom: -8.5px;
    height: 23.5px;
}

#icon5 {
    margin-left: -80px;
    margin-top: -10px;
    margin-bottom: -7.8px;
    height: 27px;
}

#icon6 {
    margin-left: -99px;
    margin-top: -10px;
    margin-bottom: -146px;
    height: 27px;
}

#img_1{
   margin-left: 55.8em;
   margin-bottom: -1em;
   z-index: 1;
   position: absolute;
}

#img_2{
    z-index: 2;
   position: absolute;
   margin-left: 12.5em;
   margin-top: 1.5em;
 }